@using ContainerPlanPrediction.Services
@inject DragAndDropService<T> DragAndDropService
@typeparam T

<div draggable="true" @ondragstart="@OnDragStart" @onclick="@DraggableClicked">
    @ChildContent
</div>
@functions {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public T Data { get; set; }

    [Parameter]
    public Action<T> Click { get; set; }

    void DraggableClicked()
    {
        Click(Data);
    }

    void OnDragStart()
    {
        // Notify the DragAndDropService what the current Data and Zone are.
        DragAndDropService.StartDrag(Data);
    }
}