@using ContainerPlanPrediction.Services
@inject DragAndDropService<T> DragAndDropService
@typeparam T
<div ondragover="event.preventDefault()" @ondrop="@OnDrop" class="alert @boxClass">
    @ChildContent
</div>
@functions {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Row { get; set; }

    [Parameter]
    public string Bay { get; set; }

    [Parameter]
    public Action<T, string, string> Drop { get; set; }

    [Parameter]
    public bool Highlight { get; set; }

    string boxClass = "";

    void OnDrop()
    {
        if (Drop != null)
        {
            if (DragAndDropService.Accepts(DragAndDropService.Data, Row, Bay))
            {
                Drop((T)DragAndDropService.Data, Row, Bay);
            }
        }
    }

    protected override void OnParametersSet()
    {
        boxClass = Highlight ? "alert-info" : "";
    }
}